<div id="<%= dom_id entry %>" class="card mb-3 mx-2 px-0 text-center">
    <div class="card-header">
        <%= entry.food_meal_type %>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <%= entry.food_name %>
        </li>

        <li class="list-group-item">
            Quantity: <%= (entry.food_quantity % 1 == 0) ? entry.food_quantity.to_i : entry.food_quantity %> g/ml
        </li>

        <li class="list-group-item">
            Calories: <%= (entry.food_calories % 1 == 0) ? entry.food_calories.to_i : entry.food_calories %> kcal
        </li>

        <li class="list-group-item">
            Protein: <%= (entry.food_protein % 1 == 0) ? entry.food_protein.to_i : entry.food_protein %> g
        </li>

        <li class="list-group-item">
            Carbohydrates: <%= (entry.food_carbohydrates % 1 == 0) ? entry.food_fats.to_i : entry.food_carbohydrates %> g
        </li>

        <li class="list-group-item">
            Fibre: <%= (entry.food_fibre % 1 == 0) ? entry.food_fibre.to_i : entry.food_fibre %> g
        </li>

        <li class="list-group-item">
            Fats: <%= (entry.food_fats % 1 == 0) ? entry.food_fats.to_i : entry.food_fats %> g
        </li>
    </ul>
</div>
