<div class="row d-flex justify-content-center text-center">
    <div class="col-12">
        <h1 class="my-4">Sign Up</h1>
        <%= form_with(model: @user, local: true) do |form| %>
            <% if @user.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from signing up:</h2>
                    <ul>
                        <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="field">
                <%= form.label :name %><br />
                <%= form.text_field :name %>
            </div>

            <div class="field">
                <%= form.label :email %><br />
                <%= form.email_field :email %>
            </div>

            <div class="field">
                <%= form.label :password %><br />
                <%= form.password_field :password %>
            </div>

            <div class="actions">
                <%= form.submit 'Sign Up' %>
            </div>
        <% end %>
    </div>
</div>